spring:
  data:
    mongodb:
      uri: mongodb://root:12345@localhost:27017/orderdb?authSource=admin
      host: localhost
      port: 27017
      database: orderdb
      repositories:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8717/eureka/
